body {
    font-family: 'Open Sans', Arial, sans-serif;
}

div.input-bar {
    padding:10px;
    clear:both;
}

div.input-bar>h2 {
    display:inline-block;
}



div.item {
    background: whitesmoke;
    color:gray;
    width:300px;
    float:left;
    margin:10px;
    padding:10px;
    min-height:200px;
    border-radius:5px;
}

div.item:hover {
    background: #16161D;
    color: white;
}

div.item:hover p.tags {
    color:white;
}

h2 {
    font-size:14px;
}

h4 {
    font-size:12px;
}

p {
    font-size:12px;
}

p.tags {
    font-size:10px;
    color: #16161D;
}